	<!-- Footer -->
	<div id="footer" class="box">
		<p class="f-left"><%= copyright %></p>
		<p class="f-right">Templates by <a href="http://www.adminizio.com/">Adminizio</a></p>
	</div> <!-- /footer -->
