<% form_for @department do |f| %>
<%= f.error_messages %>
<table class="attributes">
  <tr>
    <td>部署名</td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td>備考</td>
    <td><%= f.text_area :note, :size => '40x5' %></td>
  </tr>
</table>

<div class="submit">
  <%= f.submit f.object.new_record? ? '追加' : '保存' %>
</div>
<% end %>
