<h1>監視サイト</h1>
<h2>確認画面</h2>

<%= render :partial => 'record' %>

<p class="buttons"><span style="float:left;"><%= render :partial => 'button_to_back' %></span><span style="float:right;"><%= render :partial => 'button_to_save' %></span></p>
